nav.sidebar
    a.sidebar__logo(href="#")
        object(data="./src/assets/img/logo.svg" width=37 height=37)
        |
        h1 Dashboard
            span v.01
    .sidebar__routes
        a.sidebar__route(href="#")
            .icon
                include /src/assets/img/dasboard.svg
            |
            span Dashboard
            |
            .arrow
                include /src/assets/img/chevron.svg
        a.sidebar__route(href="#")
            .icon
                include /src/assets/img/product.svg
            |
            span Product
            |
            .arrow
                include /src/assets/img/chevron.svg
        a.sidebar__route(href="#")
            .icon
                include /src/assets/img/customers.svg
            |
            span Customers
            |
            .arrow
                include /src/assets/img/chevron.svg
        a.sidebar__route(href="#")
            .icon
                include /src/assets/img/income.svg
            |
            span Income
            |
            .arrow
                include /src/assets/img/chevron.svg
        a.sidebar__route(href="#")
            .icon
                include /src/assets/img/promote.svg
            |
            span Promote
            |
            .arrow
                include /src/assets/img/chevron.svg
        a.sidebar__route(href="#")
            .icon
                include /src/assets/img/help.svg
            |
            span Help
            |
            .arrow
                include /src/assets/img/chevron.svg
    .sidebar__user
        .sidebar__avatar
            img(src="./src/assets/img/avatar.png" alt="avatar")
        .sidebar__name
            p Evano
            |
            span Project Manager