// MAIN
$black: #000000;
$white: #FFFFFF;
$gray: #838383;

// TEXT
$text-primary: #292D32;
$text-secondary: #9197B3;
$text-success: #16C098;
$text-active: #008767;
$text-inactive: #DF0404;
$text-button: #404B52;
$text-info: #B5B7C0;

// BACKGROUND
$bg-main: #FAFBFF;
$bg-primary: #FFFFFF;
$bg-btn-active: #5932EA;
$bg-btn-default: #F5F5F5;
$bg-status-active: rgba(22, 192, 152, 0.38);
$bg-status-inactive: rgba(255, 197, 197, 1);
$bg-search: #F9FBFF;